[tool.uv.workspace]
members = ["packages/*"]

[tool.uv]
dev-dependencies = [
    "pytest>=7.0.0",
    "ruff>=0.13.1",
    "ty>=0.0.1a21",
    "pre-commit>=3.5.0"
]

[tool.uv.sources]
verifiers = { git = "https://github.com/PrimeIntellect-ai/verifiers.git", tag = "v0.1.10" }

[tool.pytest.ini_options]
pythonpath = [
    "packages/prime/src",
    "packages/prime-sandboxes/src",
    "packages/prime-evals/src",
    "packages/prime-mcp-server/src",
]
testpaths = [
    "packages/*/tests",
]
